@font-face {
  font-family: "Arial Rounded MT Bold_1.51.0_system";
  src: url("../../../fonts/Arial Rounded MT Bold-Bold_1.51.0_system.ttf");
  font-weight: 700; 
}
@font-face {
  font-family: "Asul_21.0.0_google";
  src: url("../../../fonts/Asul-Regular_21.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Arvo_22.0.0_google";
  src: url("../../../fonts/Arvo-Regular_22.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Arimo_29.0.0_google";
  src: url("../../../fonts/Arimo-Regular_29.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Archivo Black_21.0.0_google";
  src: url("../../../fonts/Archivo Black-Regular_21.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Arial Rounded MT Bold_1.51.0_system";
  src: url("../../../fonts/Arial Rounded MT Bold-Bold_1.51.0_system.ttf");
  font-weight: 700; 
}
@font-face {
  font-family: "Archivo Black_21.0.0_google";
  src: url("../../../fonts/Archivo Black-Regular_21.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Arial Rounded MT Bold_1.51.0_system";
  src: url("../../../fonts/Arial Rounded MT Bold-Bold_1.51.0_system.ttf");
  font-weight: 700; 
}
@font-face {
  font-family: "Arbutus_28.0.0_google";
  src: url("../../../fonts/Arbutus-Regular_28.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Archivo Black_21.0.0_google";
  src: url("../../../fonts/Archivo Black-Regular_21.0.0_google.ttf");
  font-weight: 400; 
}
@font-face {
  font-family: "Arial Rounded MT Bold_1.51.0_system";
  src: url("../../../fonts/Arial Rounded MT Bold-Bold_1.51.0_system.ttf");
  font-weight: 700; 
}
@font-face {
  font-family: "Arial Rounded MT Bold_1.51.0_system";
  src: url("../../../fonts/Arial Rounded MT Bold-Bold_1.51.0_system.ttf");
  font-weight: 700; 
}
@font-face {
  font-family: "Archivo Black_21.0.0_google";
  src: url("../../../fonts/Archivo Black-Regular_21.0.0_google.ttf");
  font-weight: 400; 
}