#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c > #backgroundBox {
  position: absolute;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c > #alignmentBox {
  position: relative;
  max-width: 390.0px;
  max-height: 844.0px;
  width: 100%;
  height: 100%;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Image_1 {
  position: absolute;
  width: 390.0000000000003px;
  height: 844.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: multiply;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_2 {
  position: absolute;
  width: 360.19238281249795px;
  min-height: 586.0000000000005px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Input_1.checked > .backgroundLayer {
  background-image: url('../../../images/519f8908-cd2f-4750-a6e3-b1b494992b47.svg#svgView(preserveAspectRatio(none);viewBox(0 0 26 26))');
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Input_1.unchecked > .backgroundLayer {
  background-image: url('../../../images/f791bf7d-9285-439f-b936-258de5b9b55e.svg#svgView(preserveAspectRatio(none);viewBox(0 0 26 26))');
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Input_1 {
  position: absolute;
  width: 63.000000000000114px;
  height: 53.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: multiply;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_3 {
  position: absolute;
  width: 184.5px;
  min-height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
  font-size: 18.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
  font-size: 18.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
  font-size: 16.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
  font-size: 16.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Line_1 {
  position: absolute;
  width: 361.1923828125px;
  height: 3.0px;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
  font-size: 18.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
  font-size: 18.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Line_2 {
  position: absolute;
  width: 361.208251953125px;
  height: 5.855952739715576px;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
  font-size: 16.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
  font-size: 16.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
  font-size: 18.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
  font-size: 18.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Path_37 {
  position: absolute;
  width: 31.179729461669922px;
  height: 32.33080291748047px;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: darken;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Ellipse_1 {
  width: 118.0px;
  height: 95.73570019723869px;
  min-height: 95.73570019723869px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #shapewrapper-s-Ellipse_1 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../../images/3ea5b78f-d59a-4c04-ba95-65b6f6ae65bc.jpg');
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #shapewrapper-s-Ellipse_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Archivo Black_21.0.0_google',Arial;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Archivo Black_21.0.0_google',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Text_8 span#rtr-s-Text_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Archivo Black_21.0.0_google',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Path_11 {
  position: absolute;
  width: 32.43000030517578px;
  height: 17.299999237060547px;
  mix-blend-mode: multiply;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Path_30 {
  position: absolute;
  width: 20.51532745361328px;
  height: 14.835980415344238px;
  mix-blend-mode: multiply;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c #s-Line_3 {
  position: absolute;
  width: 361.23992919921875px;
  height: 9.855827331542969px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d0dfaf8e-d5a0-4c1b-9279-9e3e5cf6506c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}