#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 > #backgroundBox {
  position: absolute;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 > #alignmentBox {
  position: relative;
  max-width: 390.0px;
  max-height: 844.0px;
  width: 100%;
  height: 100%;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Image_1 {
  position: absolute;
  width: 389.99999999999943px;
  height: 843.5000000000005px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: multiply;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Ellipse_1 {
  width: 115.00000000000028px;
  height: 103.0px;
  min-height: 103.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../../images/79452c97-344f-4e63-a700-4bd00afd6e46.jpg');
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #shapewrapper-s-Ellipse_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_1 {
  position: absolute;
  width: 217.31640624999974px;
  min-height: 54.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
  font-size: 16.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
  font-size: 16.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_2 {
  position: absolute;
  width: 357.31640625px;
  min-height: 196.97238658777113px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Asul_21.0.0_google',Arial;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Asul_21.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Asul_21.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_3 {
  position: absolute;
  width: 200.0px;
  min-height: 68.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arvo_22.0.0_google',Arial;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arvo_22.0.0_google',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arvo_22.0.0_google',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Button_1 {
  position: absolute;
  width: 125.49999999999977px;
  min-height: 92.12426035502949px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Button_1 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../../images/778f0224-d0da-44b0-a6b4-7de24087f460.png');
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arimo_29.0.0_google',Arial;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arimo_29.0.0_google',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arimo_29.0.0_google',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Button_2 {
  position: absolute;
  width: 136.99999999999977px;
  min-height: 102.12426035502926px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: multiply;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Button_2 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../../images/9b75f65c-36d4-4c5e-bbef-147df2ffb4e5.png');
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arimo_29.0.0_google',Arial;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arimo_29.0.0_google',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arimo_29.0.0_google',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Path_11 {
  position: absolute;
  width: 32.419960021972656px;
  height: 17.295860290527344px;
  mix-blend-mode: multiply;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Path_30 {
  position: absolute;
  width: 20.51532745361328px;
  height: 14.835980415344238px;
  mix-blend-mode: multiply;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 #s-Line_1 {
  position: absolute;
  width: 357.6173095703125px;
  height: 8.427959442138672px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4ac4ec84-a641-4291-a160-36e200e1f9e1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}